@{
    ViewData["Title"] = "Home Page";
}

<div class="dcg-section">
    <div class="dcg-container">
        <h1 class="dcg-h1">
            Spin text generator
        </h1>
        <tpl :ProgressBar/>
        <tpl :CtrlBtn/>
        <tpl :CtrlLanguage/>
        <tpl :ApiCheckBox/>
        <tpl :CurrencyPairs/>
    </div>
</div>
