@{
    ViewData["Title"] = "Home Page";
}

<tpl :Header />
<div class="container">
    <div class="dcg-section">
        <div class="dcg-container">
            <tpl :GeneratingForm />
        </div>
    </div>
</div>
