/*.....................................*/
/* CLASSES */
/* bootstrap */

/* /bootstrap */
/*.....................................*/
// test
.dcg-cl-white {
    color: #FFFFFF;
}
.dcg-cl-green-grad {
    background: linear-gradient(92.94deg, #34B76A 0%, #00D13B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
}
.dcg-bg-grad {
    background: linear-gradient(90deg, #13A3F7 -0.08%, #50D88D 99.95%);
}
.dcg-cl-grad {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, rgba(19, 163, 247, 1), rgba(80, 216, 141, 1));
}
.dcg-bg-blue-grad {
    background: linear-gradient(279.88deg, #104F97 -0.67%, #194577 100%);
}
// /test
/*.....................................*/
html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #2E2E2E;

    @include media-breakpoint-down (sm) {
    }
}

ul, li {

}

a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    color: #F18018;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }

    @include media-breakpoint-down (sm) {
    }
}
/*.....................................*/
/* Стили для всех заголовков */
@include dc-titles {

    @include media-breakpoint-down (sm) {

    }
}

.dcg-h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #2E2E2E;


    @include media-breakpoint-down (md) {
    }

    @include media-breakpoint-down (xs) {
    }
}

.dcg-h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #2E2E2E;

    @include media-breakpoint-down (sm) {
    }
}

.dcg-h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #2E2E2E;

    @include media-breakpoint-down (xs) {
    }
}

.dcg-h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2E2E2E;

    @include media-breakpoint-down (sm) {
    }
}
.dcg-h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #2E2E2E;

    @include media-breakpoint-down (sm) {
    }
}
.dcg-h6 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2E2E2E;

    @include media-breakpoint-down (sm) {
    }
}
/*.....................................*/
/* section - блоки сайта */
.dcg-section {
    padding-bottom: 50px;
    
    &_small-padding {
        
    }

    &_all-screen {

    }

    & + & {

    }

    &_dark {
    }

    &_gray {
    }

    &_light {
    }

    &_clr {
    }

    &_alert {
    }

    &_error {
    }

    @include media-breakpoint-down (lg) {
    }

    @include media-breakpoint-down (md) {
        &_all-screen {
        }

        &_padding-heading {
        }

        &_padding-small {
        }

        &_padding-big {
        }
    }

    @include media-breakpoint-down (sm) {
        &_all-screen {
        }

        &_mobile-height {
        }

        &_padding-small {
        }

        &_padding-heading {
        }
    }
}
/* /section */
/*.....................................*/
/* common */

/* /common */
/* /CLASSES */
/*------------------------------------------------------------*/
