/*.....................................*/
/* CLASSES */
/* bootstrap */

/* /bootstrap */
/*.....................................*/
// test

// /test
/*.....................................*/
html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;

    @include media-breakpoint-down (sm) {
    }
}


a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    color: #F18018;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }

    @include media-breakpoint-down (sm) {
    }
}
/*.....................................*/
/* Стили для всех заголовков */
@include dc-titles {

    @include media-breakpoint-down (sm) {

    }
}

.dcg-h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 23px;


    @include media-breakpoint-down (md) {
    }

    @include media-breakpoint-down (xs) {
    }
}

.dcg-h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;

    @include media-breakpoint-down (sm) {
    }
}

/*.dcg-h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #2E2E2E;

    @include media-breakpoint-down (xs) {
    }
}

.dcg-h4 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2E2E2E;

    @include media-breakpoint-down (sm) {
    }
}
.dcg-h5 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #2E2E2E;

    @include media-breakpoint-down (sm) {
    }
}
.dcg-h6 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2E2E2E;

    @include media-breakpoint-down (sm) {
    }
}*/
/*.....................................*/
/* section - блоки сайта */
.dcg-section {
    width: 1078px;
    margin: 0 auto;
    padding-top: 35px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    &_small-padding {
    }


    @include media-breakpoint-down (lg) {
    }

    @include media-breakpoint-down (md) {
        &_all-screen {
        }

        &_padding-heading {
        }

        &_padding-small {
        }

        &_padding-big {
        }
    }

    @include media-breakpoint-down (sm) {
        &_all-screen {
        }

        &_mobile-height {
        }

        &_padding-small {
        }

        &_padding-heading {
        }
    }
}

.dcg-container {
    width: 1008px;
    margin: 0 auto;
}

.dc-divider {
    border: 1px solid #ECECEC;
}
/* /section */
/*.....................................*/
/* common */

/* /common */
/* /CLASSES */
/*------------------------------------------------------------*/
