// /*.....................................*/
// /* TEMPLATE: api-check-box */
.dc-api-check-box {
    margin-top: 20px;

    &__wrapper {
        display: flex;
        margin: 11px 0px;
    }

    &__input {
        label {
            padding: 0.4rem 1rem 0.4rem 0px;
        }
        &:last-child {
            margin-left: 3px;
        }
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: api-check-box */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: block-btns */
.dc-block-btns {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: block-btns */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: blocks-main */
.dc-blocks-main {
    padding-top: 15px;
    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: blocks-main */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: block-text-input */
.dc-block-text-input {
    position: relative;

    &__close {
        position: absolute;
        top: 35px;
        right: 20px;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: block-text-input */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: ctrl-blocks-btns */
.dc-ctrl-blocks-btns {
    display: flex; 
    justify-content: space-between;
    margin-top: 20px;
    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: ctrl-blocks-btns */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: ctrl-btn */
.dc-ctrl-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    &__wrapper {
        width: 320px;
        display: flex;
        justify-content: space-between;
    }


    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: ctrl-btn */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: ctrl-language */
.dc-ctrl-language {
    height: 109px;
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: ctrl-language */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: currency-pairs */
.dc-currency-pairs {
    min-height: 254px;
    padding: 20px 0px 35px 0px;
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: currency-pairs */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: drop-down-block */
.dc-drop-down-block {
    min-height: 49px;
    margin-top: 6px;

    &__wrapper {
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    &__content {
        display: none;
    }

    &__close {
        display: flex;
        align-items: center;
    }

    &__arrow {
        margin-left: 13px;
        transition: transform 1s;
    }




    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: drop-down-block */
// /*.....................................*/

// /*.....................................*/
// /* TEMPLATE: progress-bar */
.dc-progress-bar {
    width: 1008px;
    height: 10px;
    margin-top: 19px;
    background: #ECECEC;
    border-radius: 2px;

    &__item {
        height: 100%;
        background: url('../../assets/line.jpg');
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: progress-bar */
// /*.....................................*/

/*.....................................*/
/* TEMPLATE: classes */
.dc-classes {
    // background: #e4e3e3;
    width: 1024px;
    margin: auto;
    section {
        text-align: center;
    }
    &__checkbox-wrapper {
        label {
            display: block;
        }
    }
    &__container {
        padding: 15px;
        text-align: center;
    }
    &__container-headline {
        text-align: center;
    }
    &__container-list {
        font-size: 20px;
    }
/*..................................... Buttons*/
.dcg-button {
    width: 150px;
    margin: 10px;
}
/*..................................... Inputs*/
.dcg-input {
    width: 200px;
    margin: 10px;
}
/*.....................................*/
    @include media-breakpoint-down (sm) {}
}
/* /TEMPLATE: classes */
/*.....................................*/

/*.....................................*/
/* TEMPLATE: _logo */
.dc-logo {}
/* /TEMPLATE: _logo */
/*.....................................*/

/*.....................................*/
/* TEMPLATE: _menu */
.dc-menu {

    display: flex;

    &__more {
        position: absolute;
        right: 5px;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        &::after {
            display: block;

        }
    }

    a {
        display: block;
        text-decoration: none;
        white-space: nowrap;

        transition-property: background, color;
    }

    li {
        position: relative;

        &:hover {
            .dc-menu__more {
                &::after {
                }
            }

            >a {
            }

            >ul {
                display: block;
            }
        }
    }

    >li {

        >a {
        }

        ul {
            position: absolute;
            display: none;
            min-width: 100px;

            >li:last-child>a {
            }
        }

        >ul {
            top: 100%;
            left: 0;

            ul {
                left: 100%;
                top: 0;
            }
        }

        &:hover {
            >.dc-menu__more {
                transform: rotate(180deg);
            }

            >a {
            }
        }
    }
}
/* /TEMPLATE: _menu */
/*.....................................*/
