@model IPartialModel

<div class="dc-api-check-box @Model.Cls" @Model.Attrs>
    <h2 class="dcg-h2">
        API
    </h2>

    <input type="checkbox" id="gecko" name="gecko" checked>
    <label for="gecko">Gecko</label>

    <input type="checkbox" id="market-cap" name="market-cap">
    <label for="market-cap">MarketCap</label>
</div>