// /*.....................................*/
// /* TEMPLATE: block-text-input */
.dc-block-text-input {
    position: relative;

    &:first-child &__close {
        display: none;
    }

    &__close {
        position: absolute;
        top: 35px;
        right: 20px;
        cursor: pointer;
    }

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: block-text-input */
// /*.....................................*/
