@model BlockTextInput

<div class="dc-block-text-input @Model.Cls" @Model.Attrs>
    <textarea name="Blocks[][]" class="dcj-tpl dc-block-text-input__input dcg-textarea dcg-textarea_big-padding-right">@Model.Text</textarea>

    <a class="dc-block-text-input__close">
        <img src="~/assets/close.svg" alt="close">
    </a>
</div>