@model IPartialModel

<div class="dc-block-btns @Model.Cls" @Model.Attrs>
    <button class="dcj-add-template">
        Add Template
    </button>
    <button class="dcg-btn_red dcj-clear">
        Clear
    </button>
</div>