@model IPartialModel

<div class="dc-ctrl-btn @Model.Cls" @Model.Attrs>
    <div class="dc-ctrl-btn__wrapper">
        <button>
            Download in csv
        </button>
        <button class="dcg-btn_disabled">
            Send to site
        </button>
    </div>
    <div class="dc-ctrl-btn__wrapper">
        <button>
            Clear all
        </button>
        <button>
            To generate
        </button>
    </div>
</div>