@model IPartialModel

<div class="dc-ctrl-btn @Model.Cls" @Model.Attrs>
    <div class="dc-ctrl-btn__wrapper">
        <button>
            Download in csv
        </button>
        <button>
            Send to site
        </button>
    </div>
    <div class="dc-ctrl-btn__wrapper">
        <button>
            To generate
        </button>
    </div>
</div>