@model IPartialModel

<div class="dc-ctrl-btn @Model.Cls" @Model.Attrs>
    <div class="dc-ctrl-btn__wrapper">
        <a class="dcg-btn" href="#" target="_blank">
            Download in csv
        </a>
        <a class="dcg-btn" href="#" target="_blank">
            Download log
        </a>
    </div>
    <div class="dc-ctrl-btn__wrapper">
        <button type="submit">
            To generate
        </button>
    </div>
</div>