// /*.....................................*/
// /* TEMPLATE: ctrl-btn */
.dc-ctrl-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    &__wrapper {
        width: 320px;
        display: flex;
        justify-content: space-between;
    }


    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: ctrl-btn */
// /*.....................................*/
