// /*.....................................*/
// /* TEMPLATE: ctrl-btn */
.dc-ctrl-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
    }


    @include media-breakpoint-down (lg) {
        margin-top: 0px;

        &__wrapper {
            justify-content: center;

            button {
                margin-top: 30px;
            }
        }
    }

    @include media-breakpoint-down (md) {


        &__wrapper {

            button {
                margin-top: 20px;
            }
        }
    }
}
// /* /TEMPLATE: ctrl-btn */
// /*.....................................*/
