// /*.....................................*/
// /* TEMPLATE: ctrl-language */
.dc-ctrl-language {
    height: 109px;
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;

    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: ctrl-language */
// /*.....................................*/
