@using SpinText.Languages.Models;
@model IPartialModel

@{
    HomeModel _model = (HomeModel)ViewBag.HomeModel;
}

<div class="dc-ctrl-language @Model.Cls" @Model.Attrs>
    <h2 class="dcg-h2">
        Language
    </h2>
    <select name="Language" asp-for="@_model.Language.Current" asp-items="Html.GetEnumSelectList<ELanguage>()"></select>
</div>