@model IPartialModel

<div class="dc-ctrl-btn @Model.Cls" @Model.Attrs>
    <div class="dc-ctrl-btn__wrapper">
        <a class="dcg-btn" asp-action="ExportHT" target="_blank">
            Download in csv
        </a>
        <a class="dcg-btn" asp-action="GetHTGeneratedLog" target="_blank">
            Download log
        </a>
    </div>
    <div class="dc-ctrl-btn__wrapper">
        <button type="submit">
            To generate
        </button>
        <a class="dcj-stop-btn dcg-btn dcg-btn_disabled" asp-action="StopGenerating">
            Stop
        </a>
        <a class="dcj-clear-btn dcg-btn dcg-btn_red" asp-action="ClearHTs">
            Clear
        </a>
    </div>
</div>