@model IPartialModel

<div class="dc-ctrl-language @Model.Cls" @Model.Attrs>
    <h2 class="dcg-h2">
        Language
    </h2>
   <select>
        <option value="ua">
            <span>Eng</span>
        </option>
        <option value="en">
            <span>Ukr</span>
        </option>
        <option value="ru">
            <span>Ru</span>
        </option>
    </select>
</div>