// /*.....................................*/
// /* TEMPLATE: ctrl-blocks-btns */
.dc-ctrl-blocks-btns {
    display: flex; 
    justify-content: space-between;
    margin-top: 20px;

    &__edit {
        display: flex;
        gap: 10px;
    }
    @include media-breakpoint-down (sm) {

    }
}
// /* /TEMPLATE: ctrl-blocks-btns */
// /*.....................................*/
