@model IPartialModel

<div class="dc-currency-pairs @Model.Cls" @Model.Attrs>
    <h2 class="dcg-h2">
        Currency pairs
    </h2>
    <textarea name="Urls" class="dcg-textarea">
        domain.com?page_key=btc-eth&var1=val1&var2=val2&coin1_long_name=Bitcoin
        domain.com?page_key=eth-ztc&var1=val1&var2=val2&coin1_long_name=Bitcoin
        domain.com?page_key=ztc-btc&var1=val1&var2=val2&coin1_long_name=Bitcoin
    </textarea>
</div>