@model IPartialModel

<div class="dc-currency-pairs @Model.Cls" @Model.Attrs>
    <h2 class="dcg-h2">
        Currency pairs
    </h2>
    <input type="file" name="Urls" />
    <div class="dc-currency-pairs__types">
        <label>
            <input checked type="radio" name="type" value="0" />
            <span>- Coin</span>
        </label>
        <label>
            <input type="radio" name="type" value="1" />
            <span>- Pair</span>
        </label>
    </div>
</div>