@model DropDownBlock

<div class="dc-drop-down-block @Model.Cls" @Model.Attrs>
    <div class="dcj-toggle-btn">
        <div class="dc-drop-down-block__wrapper">
            <h2 class="dcg-h2">Block</h2>
            <img class="dc-drop-down-block__arrow" src="~/assets/arrow.svg" alt="arrow">
        </div>
        <a class="dc-drop-down-block__close">
            <img src="~/assets/close.svg" alt="close">
        </a>
    </div>
    <div class="dc-drop-down-block__content">
        <tpl :BlockBtns />

        <div class="dc-drop-down-block__templates dcj-tmp-wrapper">
            @if (!Model.Templates.Any())
            {
                <tpl :BlockTextInput model="new BlockTextInput()" />
            }
            else
            {
                foreach (var tmp in Model.Templates)
                {
                    <tpl :BlockTextInput model="tmp" />
                }
            }
        </div>
    </div>
</div>