// /*.....................................*/
// /* TEMPLATE: drop-down-block */
.dc-drop-down-block {
    min-height: 49px;
    margin-top: 6px;

    &:first-child &__close {
        display: none;
    }

    &__wrapper {
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    &__content {
        display: none;
    }

    &__close {
        display: flex;
        align-items: center;
    }

    &__arrow {
        margin-left: 13px;
        transition: transform 1s;
    }




    @include media-breakpoint-down (sm) {
    }
}
// /* /TEMPLATE: drop-down-block */
// /*.....................................*/
