@model IPartialModel

<div class="dc-header @Model.Cls" @Model.Attrs>
    <div class="container">
        <div class="dc-header__content dcg-container">
            <tpl :PageTitle /> 
        </div>
    </div>
</div>