@model IPartialModel

<div class="dc-page-title @Model.Cls" @Model.Attrs>
    <h1 class="dcg-h1 dc-page-title__title">
        Spin text generator
    </h1>
    <div class="dc-page-title__list-count">
        <tpl :StatusBar />
    </div>
</div>