// /*.....................................*/
// /* TEMPLATE: page-title */
.dc-page-title {
    display: flex;
    justify-content: space-between;
    
    @include media-breakpoint-down (lg) {
        & {
            flex-direction: column;
            gap: 15px;
        }
    }
}
// /* /TEMPLATE: page-title */
// /*.....................................*/
