@model IPartialModel

<div class="dc-page-title @Model.Cls" @Model.Attrs>
    <h1 class="dcg-h1 dc-page-title__title">
        Spin text generator
    </h1>
    <div class="dc-page-title__list-count">
        <div class="dc-page-title__item-count">
            <h2 class="dcg-h2 dc-page-title__item-caption">Caption:</h2>
            <span>5</span>
        </div>
        <div class="dc-page-title__item-count">
            <h2 class="dcg-h2 dc-page-title__item-caption">Caption:</h2>
            <span>5</span>
        </div>
        <div class="dc-page-title__item-count">
            <h2 class="dcg-h2 dc-page-title__item-caption">Caption:</h2>
            <span>5</span>
        </div>
        <div class="dc-page-title__item-count">
            <h2 class="dcg-h2 dc-page-title__item-caption">Caption:</h2>
            <span>5</span>
        </div>
    </div>
    @Model.Content
</div>