@model IPartialModel

<div class="dc-status-bar @Model.Cls" @Model.Attrs>
    <div class="dc-status-bar__item">
        <p class="dc-status-bar__caption">Caption:</p>
        <span class="dc-status-bar__value">5</span>
    </div>
    <div class="dc-status-bar__item">
        <p class="dc-status-bar__caption">Caption:</p>
        <span class="dc-status-bar__value">5</span>
    </div>
    <div class="dc-status-bar__item">
        <p class="dc-status-bar__caption">Caption:</p>
        <span class="dc-status-bar__value">5</span>
    </div>
    <div class="dc-status-bar__item">
        <p class="dc-status-bar__caption">Caption:</p>
        <span class="dc-status-bar__value">5</span>
    </div>
</div>